# video indexer related env keys
AZURE_VIDEO_INDEXER_TENANT_ID=
AZURE_VIDEO_INDEXER_CLIENT_ID=
AZURE_VIDEO_INDEXER_CLIENT_SECRET=
AZURE_VIDEO_INDEXER_ACCOUNT_ID=
AZURE_VIDEO_INDEXER_ACCOUNT_NAME=
AZURE_VIDEO_INDEXER_OCM_SUBSCRIPTION_KEY=
AZURE_VIDEO_INDEXER_SUBSCRIPTION_ID=
AZURE_VIDEO_INDEXER_RESOURCE_GROUP=

AZUR_ENDPOINT=
AZUR_OPENAI_KEY=

# Blob storage related parameter
BLOBACCOUNTNAME=
BLOBACCESSKEY=

SEARCH_ENDPOINT=
SEARCH_KEY=

OpenAI_KEY=
ASSISTANT_MODEL=