# video indexer related env keys

AZURE_VIDEO_INDEXER_ACCOUNT_ID=
AZURE_VIDEO_INDEXER_ACCOUNT_NAME=
AZURE_VIDEO_INDEXER_OCM_SUBSCRIPTION_KEY=
AZURE_VIDEO_INDEXER_SUBSCRIPTION_ID=
AZURE_VIDEO_INDEXER_RESOURCE_GROUP=

# Blob storage related parameter
BLOBACCOUNTNAME=
BLOBACCESSKEY=
BLOBCONNECTIONSTRING=
SEARCH_KEY=
SEARCH_ENDPOINT=

AZURE_ENDPOINT=
AZURE_OPENAI_KEY=

# For Embeddings
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_EMBEDDING_ENDPOINT=
AZURE_EMBEDDING_DEPLOYMENT_NAME=

# For LLM:
AZURE_OPENAI_LLM_ENDPOINT=
AZURE_CHAT_DEPLOYMENT_NAME=
AZURE_SUBSCRIPTION_ID=

AZURE_AI_ENDPOINT=
AZURE_AI_API_KEY=
VIDEO_CONTENT_UNDERSTANDING_KEY=